body {
    width: 1000px;
    margin: 0 auto;
}

fieldset {
    margin: 20px 0
}

.red-btn {
    background-color: red;
    color: #ffffff;
}

.show {
    opacity: 1;
    transition: all 2s ease-in;
}

.hide {
    opacity: 0;
    /*transition: all 2s ease-in;*/
}