body {
    width: 1000px;
    margin: 0 auto;
}

fieldset {
    margin: 20px 0
}

.red-btn {
    background-color: red;
    color: #ffffff;
}

.show {
    opacity: 1;
    transition: all 2s ease-in;
}

.hide {
    opacity: 0;
    /*transition: all 2s ease-in;*/
}

.showAnimate {
    animation: show-item 2s ease-in forwards;
}

.hideAnimate {
    animation: hide-item 2s ease-in forwards;
}

@keyframes show-item {
    0% {
        opacity: 0;
        color: red;
    }
    50% {
        opacity: 0.5;
        color: green;
    }
    100% {
        opacity: 1;
        color: blue;
    }
}

@keyframes hide-item {
    0% {
        opacity: 1;
        color: blue;
    }
    50% {
        opacity: 0.5;
        color: green;
    }
    100% {
        opacity: 0;
        color: red;
    }

}